# CVS Files #
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore 

# Mercurial Files #
/.hg/*
*/.hg/*
.hgignore

# Keil Files #
*.uvgui.*
*.bak

.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#Merge Resolution Files #
*.orig
*.BACKUP.*
*.LOCAL.*
*.REMOTE.*
